<%- include('header.ejs') -%>

<button>Voir</button>
<button class="aleluia">Ajouter</button>
<button class="aleluia2"">Supprimer l'entrée avec ID 1</button>
<div id="resultats"></div>
<a href="contact" class="lolss">Voir la page de contact</a>
<script src="/javascript/app.js"></script>

<%- include('footer.ejs') -%>
