<p id="avis"></p>
<div>
<h2 class="mainTitleAvis spaceRDV">VOS AVIS</h2>
<div class="conteneur-conteneur">
    <img src="img/icon-box-left.png" alt="Flèche droite" class="arrow-review">
    <div class="conteneur-quatuor">
        <img src="img/1.png" alt="Un avis" class="modif">
        <img src="img/2.png" alt="Un avis" class="modif">
        <img src="img/3.png" alt="Un avis" class="modif">
        <img src="img/4.png" alt="Un avis" class="modif">
    </div>
    <img src="img/icon-box-right.png" alt="Flèche gauche" class="arrow-review">
</div>
<script src="/javascript/avis.js"></script>
</div>