<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title><%= title %></title><link rel="stylesheet" href="/css/contact.css">
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
  <link href="font/EA-Sports-Covers-SC-1.5.ttf" rel="stylesheet">
  <link href="font/SF-Sports-Night.ttf" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/contact.css">
</head>
  <body>
    <div class="menuBurger hidden">
        <ul class="lolEliott">
          <li class="eliottBurger"><a href="https://eduard-baescu.mds-bordeaux.yt/#services">SERVICES</a></li>
          <li class="eliottBurger"><a href="https://eduard-baescu.mds-bordeaux.yt/#avis">AVIS</a></li>
          <li class="eliottBurger"><a href="/contact">CONTACT</a></li>
          <li class="eliottBurger"><a href="https://eduard-baescu.mds-bordeaux.yt/#rdv">PRISE DE RDV</a></li>
      <a href="/"><img class="cross" src="/img/cross1.png"></a>
    </div>
  </div>
  <div class="body">
  <div class="header sticky">
    <a href="https://eduard-baescu.mds-bordeaux.yt/"><img class="logo-header2" src="/img/logo.png"></a>
  <nav>
    <ul>
      <li><a href="https://eduard-baescu.mds-bordeaux.yt/"><img class="logo-header" src="/img/logo.png"></a></li>
      <li><a href="https://eduard-baescu.mds-bordeaux.yt/#services">SERVICES</a></li>
      <li><a href="https://eduard-baescu.mds-bordeaux.yt//#avis">AVIS</a></li>
      <li><a href="/contact">CONTACT</a></li>
      <li><a href="https://eduard-baescu.mds-bordeaux.yt/#rdv">PRISE DE RDV</a></li>
    </ul>
  </nav>
  <img class="burger" src="/img/menu.png">
</div>

<section>
    <div class="parentArticle">
    <article class="center left">
        <h2>LORIS</h2>
        <p class="sousTitre">COACHING / REMISE EN FORME / PERFECTIONNISME</p>
        <div class="socialmedia">
            <a href="https://www.linkedin.com/in/loris-lafargue-a400412a6/"><img class="smy" src="img/yt.png"></a>
            <a href="https://www.instagram.com/"><img class="smi" src="img/instagram.png"></a>
        </div>
        <h2 class="textmap">Bordeaux</h2>
        <p class="sousTitre">(33000)</p>
        <div class="map" style="width: 70%"><iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=350&amp;hl=en&amp;q=Bordeaux+()&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/population/">Calculate population in area</a></iframe></div>
    </article>
    <article class="parentForm right">
        <p class="aLaide"></p>
        <form action="https://eduard-baescu.mds-bordeaux.yt/contact" method="post">
            <div class="form-group">
                <input  placeholder="NOM" type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group">
                <input placeholder="EMAIL" type="email" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
                <input  placeholder="TELEPHONE" type="text" class="form-control" id="tel" name="tel">
            </div>
            <div class="form-group">
                <textarea placeholder="MESSAGE" class="form-control" id="enquiry" name="enquiry" rows="6"></textarea>
            </div>
            <div class="form-group">
                <label for="captcha">Écrivez ce code: ""</label>
                <input placeholder="CAPTCHA*" class="form-control" id="captcha" name="captcha" rows="6"></textarea>
            </div>
            <div class="button">
                <div class="lesDetraques">
                    <input type="checkbox" id="scales" name="scales" />
                    <p><a class="conditions" href="https://eduard-baescu.mds-bordeaux.yt/CGU.pdf">J'accepte les CGU et 
                        la politique de protection des données.</a></p>
                    </div>
                <button type="submit">ENVOYER</button>
            </div>
        </form>
    </article>
    </div>
</section>

<script src="/javascript/contact.js"></script>