<!DOCTYPE html>
<html class="html" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/<%= x %>.css">
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
  <link href="font/EA-Sports-Covers-SC-1.5.ttf" rel="stylesheet">
  <link href="font/SF-Sports-Night.ttf" rel="stylesheet">
</head>
  <body>
    <div class="menuBurger hidden">
          <ul class="lolEliott">
            <li class="eliottBurger"><a href="https://eduard-baescu.mds-bordeaux.yt/#services">SERVICES</a></li>
            <li class="eliottBurger"><a href="https://eduard-baescu.mds-bordeaux.yt/#avis">AVIS</a></li>
            <li class="eliottBurger"><a href="/contact">CONTACT</a></li>
            <li class="eliottBurger"><a href="https://eduard-baescu.mds-bordeaux.yt/#rdv">PRISE DE RDV</a></li>
        <a href="/"><img class="cross" src="/img/cross1.png"></a>
      </div>
    </div>
    <div class="body">
    <div class="header sticky">
      <a href="/"><img class="logo-header2" src="/img/logo.png"></a>
    <nav>
      <ul>
        <li><a href="/"><img class="logo-header" src="/img/logo.png"></a></li>
        <li><a href="https://eduard-baescu.mds-bordeaux.yt/#services">SERVICES</a></li>
        <li><a href="https://eduard-baescu.mds-bordeaux.yt/#avis">AVIS</a></li>
        <li><a href="/contact">CONTACT</a></li>
        <li><a href="https://eduard-baescu.mds-bordeaux.yt/#rdv">PRISE DE RDV</a></li>
      </ul>
    </nav>
    <img class="burger" src="/img/menu.png">
  </div>
  <main>

