<div class="pageServices">
    <h2 class="spaceMAIN">RESERVATION BILAN TELEPHONIQUE</h2>
    <div class="containerMAIN">
        <section class="container-bloc-image">
            <div>
                <img src="img/icon-box-left.png" alt="Fleche gauche" class="container-image-arrow">
            </div>
            <div class="container-image">
                <img src="img/loris-1.png" alt="" class="image-portrait">
            </div>
            <div>
                <img src="img/icon-box-right.png" alt="Fleche droite" class="container-image-arrow">
            </div>
        </section>
    <section class="container-text">
        <h2 class="titre-blanc-h2">LORIS</h2>
        <h3 class="titre-jaune-h3">Preparateur Sportif / Reathletisation</h3>
        <p class="paragraphe-blanc-top">Rencontrez Loris, un individu dynamique, passionné et dévoué à l'épanouissement de ses élèves. Son énergie contagieuse crée un environnement d'apprentissage stimulant, où la passion pour le savoir est le moteur de sa démarche éducative.</p><p class="paragraphe-blanc">Loris ne se contente pas d'enseigner, il s'investit personnellement dans la réussite de chaque élève. Sa approche attentionnée garantit un soutien individualisé, encourageant ainsi le développement personnel de chacun.
            Sa passion débordante pour son domaine d'expertise inspire ses élèves à explorer leurs propres horizons académiques. Pour Loris, seule l'excellence est acceptable, et il encourage ses élèves à viser constamment les plus hauts standards.</p><p class="paragraphe-blanc">Rejoignez Loris dans cette aventure éducative où la passion, l'engagement et le désir de réussite convergent pour créer une expérience d'apprentissage exceptionnelle.</p>
    </section>
</div>
</div>
<script src="javascript/main.js"></script>