<p id="rdv"></p>
<div class="pageServices">
    <h2 class="mainTitleRdv spaceRDV">RESERVATION BILAN TELEPHONIQUE</h2>
    <p class="paragrapheNosServices">Réserver dès à présent un rendez-vous afin de discuter ensemble de votre projet et des services que je peux vous proposer.</p>
    <h3 class="seanceSansEngagement">SEANCE SANS ENGAGEMENT</h3>
    <div class="containerRdv">
        <div class="enDessouRdv"><p class="textRdv1">RESERVATION RDV BILAN GRATUIT</p><p class="textRdv2">(Selon les disponibilites)</p></div>
        <p class="dureeRdv">15-30MIN</p>
        <a class="buttonRdv" href="https://calendly.com/">RESERVER</a>
    </div>
</div>
</main>
</div>
</body>
</html>