<p id="services"></p>
<div class="pageServices">
    <h2 class="mainTitleServices" >NOS SERVICES</h2>
    <p class="paragrapheNosServices">Bienvenue chez CoachLoris, votre destination pour des services de préparation physique personnalisés. Que vous représentiez un club sportif de haut niveau, que vous soyez un passionné individuel ou que vous cherchiez à ajouter une dimension sportive à vos événements d'entreprise, nous sommes là pour vous.</p> <p class="paragrapheNosServices">Notre engagement envers l'excellence, notre approche personnalisée et notre équipe d'experts font de CoachLoris est le choix idéal pour atteindre vos objectifs physiques. Rejoignez-nous dans cette aventure où l'innovation, la passion et la performance convergent pour dépasser les limites.</p>
    <div class="divElements">
        <div class="ele ele1"><p class="numberInEle">1</p><p class="textInEle">CLUB SPORTIF</p></div>
        <div class="ele ele2"><p class="numberInEle">2</p><p class="textInEle">PARTICULIER</p></div>
        <div class="ele ele3"><p class="numberInEle">3</p><p class="textInEle">ENTREPRISE</p></div>
    </div>
</div>
<div class="overlay hidden"></div>
    <div class=" containerYellow hidden">
        <img class="cross-x" src="/img/cross.png">
        <div class="container0 hidden">
            <h2 class="titleInfo">CLUB SPORTIF</h2>
            <p class="paragrapheInfo">Maximisez le potentiel de votre équipe avec nos programmes de préparation physique sur mesure. En collaboration étroite avec les clubs sportifs, notre équipe d'experts vise à optimiser les performances des athlètes déjà presque au sommet de leur art.</p>
        </div>
        <div class="container1 hidden">
            <h2 class="titleInfo">PARTICULIER</h2>
            <p class="paragrapheInfo">Vous êtes un passionné de sport en quête de nouveaux défis ? Nos programmes personnalisés sont conçus pour les individus déjà actifs, aspirant à dépasser leurs propres limites et à atteindre un niveau de performance supérieur.</p>
        </div>
        <div class="container2 hidden">
            <h2 class="titleInfo">ENTREPRISE</h2>
            <p class="paragrapheInfo">Transformez vos événements d'entreprise en expériences mémorables. Nos services de préparation physique offrent une approche unique pour les séminaires et les journées d'intégration, favorisant le renforcement de l'esprit d'équipe, la motivation et le bien-être physique.</p>
        </div>
    </div>
<script src="/javascript/services.js"></script>